# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv
env/
venv/
ENV/

# Data
*.fastq
*.fastq.gz
data/

# Folder
.agent/
documents/
fasta_file/
graphify-out/

# python file
knowledge_graph.py

# Markdown files
FIELD_DERIVABILITY_SUMMARY.md
QUICK_REFERENCE.md